 /* The animation code */
 @keyframes animatedSquare {
    0%   {background-color: black;}
    25%  {background-color: aqua;}
    50%  {background-color: antiquewhite;}
    100% {background-color: white;}
  }
  
  /* The element to apply the animation to */
  .wrapper,.image{
    width: 200px;
    height: 200px;
    animation-name: animatedSquare;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
  } 
  
  .wrapper,.image   :hover{
    transform: scale(1.1);
  }
  
  * {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
       
  }
   
img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
  
  }

  @media only screen and (max-width: 600px) {
    body { background-color: red; }
 }

 
 @media only screen and (max-width: 900px) {
  ul { background-color: rgba(255, 149, 0, 0.918); }
}

 
